  {% extends 'base.html' %}
    {% block title %}
     Записи сообщества {{ group }}
    {% endblock %}
 {% load thumbnail %}
 {% block content %}
    <main>
      <h1>Записи сообщества</h1>
        <h1> {{ group }} </h1>
        <p>{{ group.description }}</p>
      {% for post in page_obj %}
            <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
              </li>
            </ul>
            <p>{{ post.text }}</p>
             <p><a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a></p>
             <style>
               .btn {
                display: inline-block; /* Строчно-блочный элемент */
                background-color: lightskyblue;
                color: #fff; /* Белый цвет текста */
                padding: 0.5rem 0.7rem; /* Поля вокруг текста */
                text-decoration: none; /* Убираем подчёркивание */
                border-radius: 5px; /* Скругляем уголки */
              }
             </style>
             {% if post.group %}
             <p><a href="{% url 'posts:group_list' post.group.slug %}" class="btn"
             >все записи группы</a>
             {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
  </main>
 {% endblock %}